<h2>Hello TAL Team,</h2>
<p>This is a single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='https://www.primefaces.org/primeng/#/setup'>PrimeNG</a> for layout and styling</li>
</ul>
<p>Here are some Assumptions that I made:</p>
<ul>
  <li>Date of Birth restriction to disallow future dates i.e. <= Today.</li>
  <li>Age must be at least 1 year, otherwise the result will 0 regardless.</li>
  <li>Sum Insured is limited to $10,000,000.00.</li>
  
  <li>
    Development techniques used are:
    <ul>
      <li>Angular Components.</li>
      <li>Angular Services</li>
      <li>Angular Routing</li>
      <li>Dependency Injection</li>
      <li>Unit Tests</li>
      <li>PrimeNG UI & Layout</li>
      <li>Observables</li>
      <li>Just to name a few...</li>
    </ul>
  </li>
</ul>
<p>Looking forward to an introduction soon :)</p>
<p>Regards,</p>
<p>Nino</p>
